*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
}

.navbar {
    background-color: #efc5aa;
    box-shadow: 0px 0px 1px black;
    margin: 0px 0px 10px 0px;
    border-radius: 0px 0px 20px 20px;
}

#nav1 {
    background-color: #ffffff;
    text-align: center;
    border-radius: 0px;
    margin: 0px 0px 40px 0px;
    font-size: 20px;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2f2f2f00;
    border: none;
    outline: none;
    margin-bottom: 2px;
}

.icon-button__badge {
    position: absolute;
    top: 0px;
    right: -3px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    background-color: red;
    color: white;
}

.card-footer {
    text-align: center;
}

table {
    margin-top: 0px;
    margin-left: 150px;
}

td {
    padding: 12px;
}

.text-tab {
    padding-left: 100px;
}

.d-flex {
    width: 720px;
}

#divider-color {
    background-color: #fd0d0d;
}

.card-price {
    color: #aa7554;
    padding: 0px;
}

.Contactus {
    position: relative;
    width: 100%;
    padding: 40px 100px;
    text-align: center;
}

.Contact h2 {
    margin-bottom: 20px;
}

#form {
    margin-left: 10px;
}

.row .col-4 h1 {
    padding-left: 100px;
}

img:hover {
    transform: scale(1.03);
}

#carouselExampleCaptions img:hover {
    transform: none;
}

.media {
    margin-top: 20px;
    padding-left: 0px;
}

.media li {
    list-style: none;
    margin-right: 15px;
    width: 20px;
    display: inline-block;
}

.media li:hover {
    color: #aa7554;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 0px 0px 0px;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    bottom: 0;
}

.footer>* {
    flex: 1 100%;
}

#gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #c2a18b, #f9d6bf, #ebc8b2, #cfae98, #ddbba5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 2px black;
    bottom: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 2rem;
    padding-top: 100px;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: rgb(75, 72, 72);
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.row {
    margin-top: 100px;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }
    .footer__addr {
        flex: 1 0px;
    }
    .footer__nav {
        flex: 2 0px;
    }
}

.center {
    text-align: center;
    width: 30vw;
    height: 30vw;
}